In [1]:
import requests
import pandas as pd

In [3]:
url = 'https://en.wikipedia.org/w/api.php?action=query&format=json&titles=Xoloitzcuintle&prop=extracts'

request_wiki = requests.get(url)

request_wiki.status_code

200

In [4]:
request_wiki.json().keys()

dict_keys(['batchcomplete', 'warnings', 'query'])

In [5]:
request_wiki.json()['query'].keys()

dict_keys(['pages'])

In [7]:
request_wiki.json()['query']['pages'].keys()

dict_keys(['243549'])

In [8]:
request_wiki.json()['query']['pages']['243549'].keys()

dict_keys(['pageid', 'ns', 'title', 'extract'])

In [9]:
df = pd.json_normalize(request_wiki.json()['query'])

In [10]:
df

,pages.243549.pageid,pages.243549.ns,pages.243549.title,pages.243549.extract
0,243549,0,Xoloitzcuintle,<p>The <b>Xoloitzcuintle</b> (or <b>Xoloitzqui...

In [11]:
df = pd.json_normalize(request_wiki.json()['query']['pages'])

In [12]:
df

,243549.pageid,243549.ns,243549.title,243549.extract
0,243549,0,Xoloitzcuintle,<p>The <b>Xoloitzcuintle</b> (or <b>Xoloitzqui...

In [13]:
df = pd.json_normalize(request_wiki.json()['query']['pages']['243549'])

In [14]:
df

,pageid,ns,title,extract
0,243549,0,Xoloitzcuintle,<p>The <b>Xoloitzcuintle</b> (or <b>Xoloitzqui...

In [15]:
buscar_titulo = 'Xoloitzcuintle'
 
#endpoint = 'https://es.wikipedia.org/w/api.php'
endpoint = 'https://en.wikipedia.org/w/api.php'

params = {
            'action' : 'query',
            'format' : 'json',
            'titles' : buscar_titulo, 
            'prop' : 'extracts'
        }

request2_wiki = requests.get(endpoint, params=params)

request2_wiki.status_code

200

# Tarea
Extraer el resumen para una lista